name: "3 [on_workflow/PRO] Deploy specific version on the live channel"


on:  
  workflow_call:
    inputs:
      ENV:
        type: string
        required: true
      VERSION:
        type: string
        required: true
    secrets:
      GCP_EHP_SERVICE_ACCOUNT:
        required: true
      GCP_EHP_WORKLOAD_IDENTITY_PROVIDER:
        required: true

defaults:
  run:
    working-directory: pro

jobs:
  deploy_on_firebase:
    permissions: write-all
    runs-on: ubuntu-22.04
    steps:
      - name: "Clone version to live channel"
        id: "clone-version"
        env:
          GOOGLE_APPLICATION_CREDENTIALS: "credentials.json"
        run: "firebase hosting:clone pc-pro-${{ inputs.ENV }}:${{ github.event.issue.title }} pc-pro-${{ inputs.ENV }}:live"